<div class="region inset stack gap-xl theme-{{props.theme or 'background'}} {{props.classes}}">
    <section class="prose">
        <h2 class="region-headline">{{props.content.headline}}</h2>
    </section>
    <ul class="grid grid-2 gap-s">
        {% for item in props.content.list %}
        <li class="inline align-start gap-xs">
            {% icon item.icon, "icon-secondary" %}
            {{item.text}}
        </li>
        {% endfor %}
    </ul>
</div>