<div class="sidebar region sidebar-split-s align-start gap-xl theme-{{props.theme or 'background'}} {{props.classes}}">
    <section class="prose fixed">
        <p class="overline">{{props.content.overline}}</p>
        <h1 class="page-headline">
            {{props.content.headline}}
        </h1>
    </section>
    <section class="prose fixed">
        <ul>
            {% for item in props.content.list %}
            <li class="inline align-start gap-xs">
                {% icon item.icon, "icon-secondary" %}
                {{item.text}}
            </li>
            {% endfor %}
        </ul>
    </section>
</div>