<div class="sidebar region sidebar-split-s align-start gap-xl theme-{{props.theme or 'background'}} {{props.classes}}">
    <section class="prose fixed">
        <p class="overline">{{props.content.overline}}</p>
        <h1 class="page-headline">
            {{props.content.headline}}
        </h1>
    </section>
    <div class="grid grid-2 gap-s">
        {% for item in props.content.grid %}
        <div>
            <div class="stack gap-xs">
                {% icon item.icon, "icon-secondary" %}
                <h3 class="title-headline">{{item.headline}}</h3>
            </div>
            <p>
                {{item.body}}
            </p>
        </div>
        {% endfor %}
    </div>
</div>