<div class="region stack theme-{{props.theme or 'background'}} {{props.classes}}">
    <section class="prose center stack align-center text-center">
        <p class="overline">{{props.content.overline}}</p>
        <h2 class="page-headline">
            {{props.content.headline}}
        </h2>
        {% if props.content.body %}
        <p>{{props.content.body}}</p>
        {% endif %}
    </section>
    <div class="grid grid-{{props.col or 3}}">
        {% for item in props.content.grid %}
        <article class="card theme-{{item.theme}}  {% if item.span %}span-{{item.span}}{% endif %} stack gap-xs">
            <div class="cluster">
                <time datetime="{{item.time.time}}">{{item.time.label}}</time>
            </div>
            <div class="prose">
                <h2 class="title-section">{{item.headline}}</h2>
                <p>
                    {{item.body}}
                </p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>