<div class="region stack gap-xl theme-{{props.theme or 'background'}} {{props.classes}}">
    {% if props.content.headline %}
    <section class="prose center center-intrinsic text-center">
        <p class="overline">{{props.content.overline}}</p>
        <h2 class="region-headline">{{props.content.headline}}</h2>
        <p>{{props.content.body}}</p>
    </section>
    {% endif %}
    <div class="region grid grid-{{props.col or 3}} inset-0 row-gap-xl">
        {% for item in props.content.grid %}
        <div class="stack gap-xs">
            <div class="frame photo rounded">
                {% set src = './public/img/' + item.img.src %}
                {% img src, item.img.alt %}
            </div>
            <h3 class="section-headline">
                <a href="{{item.url}}" class="link-navigation">
                    {{item.headline}}
                </a>
            </h3>
            <p>{{item.body}}</p>
        </div>
        {% endfor %}
    </div>
</div>