{% from "../component.njk" import component %}

{% if props.mobile === 'start' %}
    <div class="region sidebar sidebar-split gap-m {{props.class}} {% if props.align %}align-{{props.align}}{% endif %}">
        {{ component(props.start, 'fixed') }}
        {{ component(props.end) }}
    </div>
{% else %}
    <div class="region sidebar reverse sidebar-split gap-m {{props.class}} {% if props.align %}align-{{props.align}}{% endif %}">
        {{ component(props.end) }}
        {{ component(props.start, 'fixed') }}
    </div>
{% endif %}