{% if props.content %}
{% for item in props.content %}
<details class="theme-{{props.theme or 'background'}}">
  <summary>
    <h4 class="title-headline">{{item.title}}</h4>
  </summary>
  <p>
    {{item.body}}
  </p>
</details>
{% endfor %}
{% else %}
<details class="theme-{{props.theme or 'background'}}">
  <summary>
    <h4 class="title-headline">Question Title Text</h4>
  </summary>
  <p>
    Voluptate dolor nisi velit consequat do reprehenderit. Amet in consequat
    duis minim dolor cupidatat adipisicing nulla cillum fugiat laborum minim
    dolore. Fugiat culpa ea veniam deserunt eu cillum. Exercitation Lorem
    adipisicing anim incididunt duis consectetur Lorem dolor id nulla id. Irure
    dolor non minim incididunt qui. Non esse Lorem cillum eiusmod officia ad
    voluptate. Occaecat ad mollit exercitation velit et.
  </p>
</details>
{% endif %}