<div class="blurb theme-{{props.theme or 'background'}}">
  <svg focusable="false" class="icon icon-32">
    <use href="src/elements/text/icon/icons.svg#accessibility"></use>
  </svg>
  <h4 class="title-headline">Lorem ipsum dolor sit amet</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis
    libero in dui convallis, nec aliquet velit fermentum. Vestibulum ante ipsum
    primis in faucibus orci.
  </p>
  <a href="/" class="btn btn-tertiary">Call to Action
    <svg focusable="false" class="icon icon-20">
      <use href="src/elements/text/icon/icons.svg#arrow-sm-right"></use>
    </svg></a>
</div>