<div class="cluster justify-{{props.location}} full theme-{{props.theme or 'background'}}">
  <a class="btn" href="#">Primary Action</a>
  <a class="btn btn-secondary" href="#">Secondary Action</a>
</div>