{% from "../components/component.njk" import component %}
<div class="region stack {{props.class}}">
    {% if props.headline %}
    <section class="prose center stack align-center text-center">
        {% if props.overline %}
            <p class="overline">{{props.overline}}</p>
        {% endif %}
        <h2 class="page-headline">
            {{props.headline}}
        </h2>
        {% if props.body %}
        <p>{{props.body}}</p>
        {% endif %}
    </section>
    {% endif %}
    {% if props.variant === 'masonry' %}
        <div class="masonry col-3 gap-m">
            {% for item in props.items %}
                {{ component(item) }}
            {% endfor %}
        </div>
    {% else %}
        <div class="grid grid-{{props.style.col or 3}}">
            {% for item in props.items %}
                {{ component(item) }}
            {% endfor %}
        </div> 
    {% endif %}
</div>