{% from "../components/component.njk" import component %}

<div class="cover sidebar align-stretch sidebar-split gap-m theme-{{props.theme}}">
    {{ component(props.start, "fixed") }}
    {{ component(props.end, "fixed") }}
</div>
