{% from "../components/component.njk" import component %}
<div class="region sidebar sidebar-split gap-m {{props.class}}">
    {{ component(props.start) }}
    {{ component(props.end, 'fixed') }}
</div>