{% from "../components/component.njk" import component %}

<div class="region stack {{props.class}}">
    {% if props.headline %}
        <section class="prose center stack align-center text-center">
            {% if props.overline %}
                <p class="overline">{{props.overline}}</p>
            {% endif %}
            <h2 class="page-headline">
                {{props.headline}}
            </h2>
            {% if props.body %}
            <p>{{props.body}}</p>
            {% endif %}
        </section>
    {% endif %}

    <div class="switcher switch-phone">
        {% for item in props.items %}
            {{ component(item) }}
        {% endfor %}
    </div>
</div>