.caption,
.caption > *,
small,
small > * {
  font-size: var(--font-size-s);
  text-align: center;
  line-height: var(--line-height-body);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  color: var(--color-on-background);
}

.copywrite {
  color: var(--color-on-primary);
  background: var(--color-primary);
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: var(--radius-pill);

  --b1: var(--color-on-primary) !important;
  --b2: var(--color-primary) !important;

  font-weight: 400 !important;
  font-family: var(--font-family-body) !important;
  font-size: var(--font-size-s) !important;
  display: inline-flex !important;
  gap: var(--space-3xs) !important;
}

/*! purgecss start ignore */
#wcb {
  --b1: var(--color-on-primary) !important;
  --b2: var(--color-primary) !important;

  display: inline-flex !important;
  gap: var(--space-3xs) !important;
  flex-wrap: wrap !important;
}

#wcb #wcb_g {
  color: var(--color-primary) !important;
  background: var(--color-on-primary) !important;
}

#wcb_2 {
  color: var(--color-primary) !important;
}

/* 


#wcb #wcb_a {
  border-radius: 0 var(--radius-pill) var(--radius-pill) 0 !important;
  font-weight: 400 !important;
  display: none !important;
}

#wcb_2 {
  background: var(--color-primary) !important;
} */

/*! purgecss end ignore */
