<div class="region inset sidebar reverse sidebar-split align-stretch gap-m {{props.classes}}">
    <div class="prose fixed">
        <p class="overline">{{props.content.overline}}</p>
        <h2>{{props.content.headline}}</h2>
        <p>{{props.content.body}}</p>
        <a href="{{props.content.btn.href}}" class="btn fixed {% if props.content.btn.secondary %}
            btn-secondary
        {% endif %}">{{props.content.btn.label}}</a>
    </div>
    <section class="prose card stack gap-s theme-{{props.theme or 'primary'}}">
        <ul>
            {% for item in props.content.list %}
            <li class="inline align-start gap-xs">
                {% icon item.icon, "icon-secondary" %}
                {{item.label}}
            </li>
            {% endfor %}
        </ul>
    </section>
</div>