a {
  text-decoration: none;
  color: inherit;
}

.link {
  transition: all 0.3s;
  vertical-align: baseline;
  font-family: var(--font-family-body);
  font-size: var(--font-size-m);
  line-height: var(--line-height-body);
  letter-spacing: var(--letters-spacing-body);
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
  max-inline-size: 100%;
}

.link-navigation.link-s {
  font-size: var(--font-size-s);

  /* background: var(--color-background);
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: var(--radius-pill); */
}

.link:hover,
.link:active {
  color: var(--color-primary);
}

.link-navigation {
  color: var(--color-primary);
  background: linear-gradient(0deg, currentColor, currentColor) no-repeat right
    bottom / 0 2px;
  padding-block-end: 2px;
  inline-size: max-content;
  text-decoration: none;
  transition: background-size 350ms;
}

.link-navigation:focus {
  outline: none;
}

.link-navigation:hover,
.link-navigation:focus-visible {
  background-size: 100% 2px;
  background-position-x: left;
}
