<div class="stack gap-xl">
    {% if props.headline %}
        <section>
            {% if props.overline %}
                <p class="overline">{{props.overline}}</p>
            {% endif %}
            <h2 class="region-headline">{{props.headline}}</h2>
            {% if props.body %}
                <p>{{props.body}}</p>
            {% endif %}
        </section>
    {% endif %}
    
    {% if props.variant === 'inline' %}
        <div class="switcher switch-phone align-start gap-xl {{class}}">
            {% for item in props.items %}
            <div class="prose stack gap-3xs {% if props.center %} align-center text-center {% endif %}">
                <h3 class="section-headline">{{item.headline}}</h3>
                <p>{{item.body}}</p>
            </div>
            {% endfor %}
        </div>
    
    {% elif props.variant === 'stack' %}
        <div class="stack gap-l fixed {{class}}">
            {% for item in props.items %}
            <div class="prose stack gap-3xs">
                <h3 class="section-headline">{{item.headline}}</h3>
                <p>{{item.body}}</p>
            </div>
            {% endfor %}
        </div>
        
    {% else %}
        <div class="{{class}} grid grid-2 fixed">
            {% for stat in props.items %}
            <div class="prose stack gap-3xs">
                <h3 class="section-headline">{{stat.headline}}</h3>
                <p>{{stat.body}}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>