<div class="stack region gap-s theme-{{props.theme or 'background'}} {{props.classes}}">
    <section class="prose">
        <p class="overline">{{props.content.overline}}</p>
        <h2 class="region-headline">{{props.content.headline}}</h2>
    </section>
    {% for question in props.content.faqs %}
    <hr />
    <div class="cluster justify-between align-start gap-xl">
        <h3 class="title-headline">{{question.question}}</h3>
        <p>
            {{question.answer}}
        </p>
    </div>
    {% endfor %}
</div>