<article class="sidebar">
    {% set src = './public/img/' + props.img.src%}
    <div class="fixed frame avatar-img">{% img src, props.img.alt%}</div>
    <div>
        {% if props.time %}
        <div class="cluster">
            <time datetime="{{props.time.time}}">{{props.time.label}}</time>
        </div>
        {% endif %}
        <div class="prose">
            {% if props.btn %}
            <h2 class="title-section">{{props.headline}}</h2>
            {% else %}
            <a href="/">
                <h2 class="title-section">{{props.headline}}</h2>
            </a>
            {% endif %}
            <p>
                {{props.body}}
            </p>
            {% if props.btn %}
            <a class="btn" href="{{props.btn.href}}">{{props.btn.label}}</a>
            {% endif %}
        </div>
    </div>
</article>