<figure class="{{class}}">
    <blockquote>
        &OpenCurlyDoubleQuote;{{ props.quote }}&CloseCurlyDoubleQuote;
    </blockquote>
    <figcaption class="overline">
        {{ props.author }}
    </figcaption>
</figure>