<article class="{{class}} justify-start card theme-{{props.style.theme}}  {% if props.style.span %}span-{{props.style.span}}{% endif %} stack gap-xs">
    {% if props.time %}
    <div class="cluster">
        <time datetime="{{props.time}}">{{props.label}}</time>
    </div>
    {% endif %}
     <h3 class="title-headline">
        {% if props.icon %}{% icon props.icon, "icon" %}{% endif %}{{props.headline}}
    </h3>
    <p>
        {{props.body}}
    </p>
</article>