<details class="{{class}} {% if props.style.theme %}theme-{{props.style.theme}}{% endif %}">
    <summary>
        <h3 class="title-headline">{{props.headline}}</h3>
    </summary>
    <p>{{props.body}}</p>
</details>