<div class="region center-intrinsic theme-{{props.theme or 'background'}} {{props.classes}}">
    <figure>
        <blockquote class="blockquote-accent">
            {{ props.content.quote }}
        </blockquote>
        <figcaption class="overline">{{ props.content.author }}</figcaption>
    </figure>
</div>