<div class="bg-img theme-primary" style='--img: url("/img/{{props.img.src}}-400w.jpeg")'>
    <div class="cover {{props.classes}} cover-nav">
        <div class="principle inset region prose stack align-center text-center gap-xs">
            {% if props.content.badge %}
            <a href="/" class="badge badge-primary">{{props.content.badge}}</a>
            {% endif %}
            <h1>{{props.content.headline}}</h1>
            <p>
                {{props.content.body}}
            </p>
            {% if props.content.btn %}
            <a href="{{props.content.btn.href}}" class="btn {% if props.content.btn.variant %}{{props.content.btn.href}}{% endif %}">{{props.content.btn.label}}</a>
            {% endif %}
        </div>
    </div>
</div>