---
pagination:
    data: site.pages
    size: 1
    alias: config
    addAllPagesToCollections: true
eleventyComputed:
    title: {{ config.title }}
    description: {{ config.description }}
permalink: "{{ config.url }}.html"
---

{% from "../common/macros/region.njk" import region %}
{% from "../common/macros/temp/layouts/layout.njk" import layout, header, footer %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{config.title}}</title>
    <meta name="description" content="{{config.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <meta property="og:title" content="{{config.title}}" />
    <meta property="og:description" content="{{config.description}}" />
    {% if type == "article" %}
    <meta property="og:type" content="article" />
    {% else %}
    <meta property="og:type" content="website" />
    {% endif %}
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:image" content="{{ogImage}}" />
    {% if image %}
    <meta property="og:image" content="{{ image | absoluteUrl(site.url) }}" />
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ canonicalUrl or page.url }}" />

    {% favicons './public/favicon.svg', appleIconPadding=0 %}
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/style.min.css">
    <link rel="stylesheet" href="/theme.css">

    <script src="/index.min.js"></script>
    <script>
    if ('serviceWorker' in navigator)
        navigator.serviceWorker.register('/sw.js')
    </script>
</head>

<body class="theme-background">
    {% iconsprite %}
    {% if config.header != false %}
        {{ header({ config: site.navigation }) }}
    {% endif %}

    {% for key, region in config.regions %}
        {{ layout(region, site.navigation) }}
    {% endfor %}

    {{ footer({ config: site.navigation, class: 'gap' }) }}
</body>

</html>