<div class="{{props.class}} prose">
    {% if props.img %}
        <div class="frame">
            {% if props.img.variant === 'avatar' %}
                <img src="https://i.pravatar.cc/300" alt="avatar">
            {% else %}
                {% set src = '../common/media/img/' + props.img.src%}
                {% img src, props.img.alt, '', '100vw', props.img.loading %}
            {% endif %}
        </div>
    {% endif %}
    {% if props.variant === 'stack' %}
        <div class="stack align-start">
            <p class="badge badge-primary" style="margin: 0; text-align:end">{{props.date}}</p>
            <h3 class="title-headline">{{props.headline}}</h3>
            <p>
                {{props.body}}
            </p>
        </div>
    {% else %}
    <p class="badge badge-primary" style="margin: 0; text-align:end">{{props.date}}</p>
    <h3 class="{% if props.url %}section-headline{% else %}title-headline{% endif %}">
        {% if props.icon %}
        {% icon props.icon, "icon" %}
        {% endif %}
        {% if props.url %}
            <a href="{{props.url}}" class="link-navigation">{{props.headline}}</a>
        {% else  %}
            {{props.headline}}   
        {% endif %}
    </h3>
    <p>
        {{props.body}}
    </p>
    {% endif %}
</div>