{% if props.size === 'xl'  %}
<a href="{{props.url}}" class="prose stack content-center card card-icon card-link theme-{{props.theme}}">
        {% if props.icon %}{% icon props.icon, "icon icon-xl" %}{% endif %}
        {% if props.headline %}
            <h3 class="title">{{props.headline}}</h3>
        {% endif %}
        <p>{{props.body}}</p>
    </a> 
{% elif props.variant === 'flip'%}
    {# <a href="{{props.url}}" class="card card-link inset-0 bg-img align-start">
        {% set src = '../common/media/img/' + props.img.src%}
        {% img src, props.img.alt %}
        <div class="stack inset-l">
            <h3 class="section-headline color-light">{{props.headline}}</h3>
        </div>
    </a> #}
    <div class="card card-flip theme-card" tabindex="0">
  <div class="card-image">
    <div class="frame {% if props.img.ar %}{{props.img.ar}}{% endif %}">
        {% set src = '../common/media/img/' + props.img.src%}
        {% img src, props.img.alt %}
    </div>
    <div class="magnifier">{% icon 'magnifier', "icon icon-s" %}</div>
  </div>
  <div class="card-overlay">
    <div class="card-text stack gap-s">
      <h3 class="section-headline">{{props.headline}}</h3>
      {% if props.list %}
        <ul class="stack gap-xs">
            {% for item in props.list %}
            <li class="inline align-start gap-xs">
                {% icon item.icon or props.icon, "" %}
                {{item.text or item}}
            </li>
            {% endfor %}
        </ul>
      {% endif %}
      {% if props.body %}
        <p>{{props.body}}</p>
      {% endif %}
    </div>
  </div>
  
</div>


{% elif props.url %}
       <a href="{{props.url}}" class="prose stack card card-link theme-{{props.theme}}">
        {% if props.icon %}{% icon props.icon, "icon icon-l" %}{% endif %}
        <h3 class="title-headline">{{props.headline}}</h3>
        <p>{{props.body}}</p>
    </a>
{% else %}
    <article class="{{props.class}} justify-start card theme-{{props.theme}}  {% if props.span %}span-{{props.span}}{% endif %} stack gap-xs">
            {% if props.variant === 'list' %}
                <ul class="stack gap-{{props.gap or 'm'}}">
                    {% for item in props.items %}
                    <li class="inline align-start gap-xs">
                        {% icon item.icon or props.icon, "icon-secondary" %}
                        {{item.text or item}}
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                {% if props.time %}
                    <div class="cluster">
                        <time datetime="{{props.time}}">{{props.label}}</time>
                    </div>
                {% endif %}
                <h3 class="title-headline">
                    {% if props.icon %}{% icon props.icon, "icon" %}{% endif %}
                    {{props.headline}}
                </h3>
                {% if props.body %}
                                    <p>
                    {{props.body}}
                </p>
                {% endif %}

            {% endif %}
    </article>
{% endif %}