<div class="{{class}} frame {% if props.ar %}{{props.ar}}{% endif %}">
    {% if props.variant === 'avatar' %}
        <img src="https://i.pravatar.cc/300" alt="avatar">
    {% else %}
        {% set src = '../common/media/img/' + props.src%}
        {% img src, props.alt, '', '100vw', props.loading %}
    {% endif %}
</div>