{% if props.config.header.variant === 'stack' %}
<nav>
    <div class="{{props.class}} stack region gap-xs align-center no-inset">
        <a href="/">
            <span class="sr-only">Home</span>
            {% svg './public/svg/logo' %}
        </a>
        <div class="cluster">
            <ul class="topbar cluster gap-m">
                {% for link in props.config.header.links %}
                    {% if link.subLinks %}
                        <li>
                            <drop-down>
                                <a href="{{ link.url }}" class="link link-navigation" {% if isActive %}aria-current="page" {% endif %}>
                                    {{ link.label }}
                                </a>
                                <ul>
                                    {% for subLink in link.subLinks %}
                                    <li>
                                        <a href="{{ subLink.url }}" class="link link-navigation {% if subLink.external === true %}external{% endif %}" {% if isActive %}aria-current="page" {% endif %} {% if subLink.external === true %}target="_blank" {% endif %}>
                                            {{ subLink.label }}
                                            {% if subLink.external === true %}{% icon 'external-link' %}{% endif %}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </drop-down>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ link.url }}" class="link link-navigation {% if props.config.header.action.external === true %}external{% endif %}" {% if link.external === true %}target="_blank"{% endif %}>
                                {{ link.label }}
                                {% if link.external === true %}{% icon 'external-link' %}{% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="cluster gap-xs">
                <button type="button" class="dark-mode-toggle" id="theme-toggle" title="Toggles light & dark" aria-live="polite">
                    <svg focusable="false" class="sun-and-moon" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24">
                        <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="var(--color-primary)" />
                        <g class="sun-beams" stroke="var(--color-primary)">
                            <line x1="12" y1="1" x2="12" y2="3" />
                            <line x1="12" y1="21" x2="12" y2="23" />
                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                            <line x1="1" y1="12" x2="3" y2="12" />
                            <line x1="21" y1="12" x2="23" y2="12" />
                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
                        </g>
                        <mask class="moon" id="moon-mask">
                            <rect x="0" y="0" height="100%" width="100%" fill="white" />
                            <circle cx="24" cy="10" r="6" fill="black" />
                        </mask>
                    </svg>
                    <tool-tip tip-position="block-end">Toggle <span class="badge badge-primary">\</span></tool-tip>
                </button>
                <a href="{{props.config.header.action.url}}" class="btn {% if props.config.header.action.external === true %}external{% endif %}" {% if props.config.header.action.external === true %}target="_blank"{% endif %}>
                    {{props.config.header.action.label}}
                    {% if props.config.header.action.external === true %}{% icon 'external-link' %}{% endif %}
                </a>
            </div>
            <div class="bottombar">
                <ul>
                    {% for item in props.config.bottombar.links %}
                    <li>
                        <a href="{{item.url}}" class="navigation">
                            {% icon item.icon %}
                            <span>{{item.label}}</span>
                        </a>
                    </li>
                    {% endfor %}
                    <li class="fab">
                        <a href="{{props.config.bottombar.fab.url}}">
                            <span class="sr-only">{{props.config.bottombar.fab.label}}</span>
                            {# {% icon props.config.bottombar.fab.icon %} #}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    {% if props.type === "article" %}
        <div id="reading-progress" aria-hidden="true"></div>
    {% endif %}
</nav>
{% else %}
<nav>
    <div class="{{props.class}} cluster region gap-xs {% if props.config.header.variant === 'start' %}justify-start{% elif props.config.header.variant === 'center' %}justify-center{% elif props.config.header.variant === 'end' %}justify-end{% elif props.config.header.variant === 'spaced' %}justify-between{% elif props.config.header.variant === 'stack' %}{% endif %} no-inset">
        <a href="/">
            <span class="sr-only">Home</span>
            {% svg './public/svg/logo' %}
        </a>
        <ul class="topbar cluster gap-m">
            {% for link in props.config.header.links %} {% if link.subLinks %}
            <li>
                <drop-down>
                    <a href="{{ link.url }}" class="link link-navigation" {% if isActive %}aria-current="page" {% endif %}>
                        {{ link.label }}
                    </a>
                    <ul>
                        {% for subLink in link.subLinks %}
                        <li>
                            <a href="{{ subLink.url }}" class="link link-navigation" {% if isActive %}aria-current="page" {% endif %}>
                                {{ subLink.label }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </drop-down>
            </li>
            {% else %}
            <li>
                <a href="{{ link.url }}" class="link link-navigation">
                    {{ link.label }}
                </a>
            </li>
            {% endif %} {% endfor %}
        </ul>
        <div class="cluster gap-xs">
            <button type="button" class="dark-mode-toggle" id="theme-toggle" title="Toggles light & dark" aria-live="polite">
                <svg focusable="false" class="sun-and-moon" aria-hidden="true" width="20" height="20" viewBox="0 0 24 24">
                    <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="var(--color-primary)" />
                    <g class="sun-beams" stroke="var(--color-primary)">
                        <line x1="12" y1="1" x2="12" y2="3" />
                        <line x1="12" y1="21" x2="12" y2="23" />
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                        <line x1="1" y1="12" x2="3" y2="12" />
                        <line x1="21" y1="12" x2="23" y2="12" />
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
                    </g>
                    <mask class="moon" id="moon-mask">
                        <rect x="0" y="0" height="100%" width="100%" fill="white" />
                        <circle cx="24" cy="10" r="6" fill="black" />
                    </mask>
                </svg>
                <tool-tip tip-position="block-end">Toggle <span class="badge badge-primary">\</span></tool-tip>
            </button>
            <a href="{{props.config.header.action.url}}" class="btn">{{props.config.header.action.label}}</a>
        </div>
        <div class="bottombar">
            <ul>
                {% for item in props.config.bottombar.links %}
                <li>
                    <a href="{{item.url}}" class="navigation">
                        {% icon item.icon %}
                        <span>{{item.label}}</span>
                    </a>
                </li>
                {% endfor %}
                <li class="fab">
                    <a href="{{props.config.bottombar.fab.url}}">
                        <span class="sr-only">{{props.config.bottombar.fab.label}}</span>
                        {# {% icon props.config.bottombar.fab.icon %} #}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% if props.type === "article" %}
        <div id="reading-progress" aria-hidden="true"></div>
    {% endif %}
</nav>
{% endif %}
