/* frame, clip, background image */

/* ? The Frame - Cropping media (videos and images) to a desired aspect ratio */
.frame {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame * {
  background-color: var(--color-background-light);
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;

  /* padding: var(--space-3xs); */
}

.frame.square {
  aspect-ratio: 1/1;
}

.frame.logo * {
  background-color: initial;
}

.frame.vertical-s {
  aspect-ratio: 2/3;
}

.frame.vertical {
  aspect-ratio: 1/2;
}

.frame.photo {
  aspect-ratio: 3/2;
}

.frame.video {
  aspect-ratio: 16/9;
}

.frame.full {
  inline-size: 100%;
  block-size: 100%;
}

.frame-cover,
.frame-cover > * {
  /* min-block-size: 100vh; */
  block-size: 100%;
}

.frame.rounded,
.frame.rounded * {
  border-radius: var(--radius-l);
}

@media (orientation: portrait) {
  .frame {
    aspect-ratio: 1/1;
  }
}
