<div class="region stack center theme-{{props.theme or 'background'}} {{props.classes}}">
    <section class="prose prose-s center">
        <p class="overline">{{props.content.overline}}</p>
        <h2 class="page-headline">
            {{props.content.headline}}
        </h2>
    </section>
    <div class="stack center gap-xl">
        {% for item in props.content.grid %}
        <hr />
        <article>
            <div class="cluster">
                <time datetime="{{item.time.time}}">{{item.time.label}}</time>
            </div>
            <div class="prose">
                <a href="/">
                    <h2 class="title-section">{{item.headline}}</h2>
                </a>
                <p>
                    {{item.body}}
                </p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>