<div class="region stack theme-{{props.theme or 'background'}} {{props.classes}}">
    <section class="prose">
        <p class="overline">{{props.content.overline}}</p>
        <h2 class="page-headline">
            {{props.content.headline}}
        </h2>
    </section>
    <div class="grid grid-3">
        {% for item in props.content.grid %}
        <article class="stack gap-xs">
            <div class="cluster">
                <time datetime="{{item.time.time}}">{{item.time.label}}</time>
            </div>
            <div class="prose">
                <h2 class="title-section">{{item.headline}}</h2>
                <p>
                    {{item.body}}
                </p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>