.color-primary {
  color: var(--color-primary);
}

.color-on-primary {
  color: var(--color-on-primary);
}

.color-light {
  color: var(--color-on-primary-light);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-on-secondary {
  color: var(--color-on-secondary);
}

.color-tertiary {
  color: var(--color-tertiary);
}

.color-on-tertiary {
  color: var(--color-on-tertiary);
}

.color-error {
  color: var(--color-error);
}

.color-on-error {
  color: var(--color-on-error);
}

.color-background {
  color: var(--color-background);
}

.color-on-background {
  color: var(--color-on-background);
}

.color-surface {
  color: var(--color-surface);
}

.color-on-surface {
  color: var(--color-on-surface);
}
