<div class="region theme-{{props.theme or 'background'}} {{props.classes}}">
    <div class="sidebar sidebar-split gap-xl">
        <div class="stack fixed">
            <div class="prose">
                {% if props.content.badge %}
                <a href="/" class="badge badge-primary">{{props.content.badge}}</a>
                {% endif %}
                <h1>{{props.content.headline}}</h1>
                <p>
                    {{props.content.body}}
                </p>
                <a href="{{props.content.btn.href}}" class="btn {% if props.content.btn.variant %}{{props.content.btn.href}}{% endif %}">{{props.content.btn.label}}</a>
            </div>
        </div>
        <div class="grid grid-2">
            <div class="frame square">
                {% img props.content.tiles[0].src, props.content.tiles[0].alt %}
            </div>
            <div class="frame square">
                {% img props.content.tiles[1].src, props.content.tiles[1].alt %}
            </div>
            <div class="frame square">
                {% img props.content.tiles[2].src, props.content.tiles[2].alt %}
            </div>
            <div class="frame square">
                {% img props.content.tiles[3].src, props.content.tiles[3].alt %}
            </div>
        </div>
    </div>
</div>