<footer class="cluster region justify-between inset-l theme-{{props.theme or 'background'}}  {{props.classes}}">
    <small>&copy; 2023 Your nonprofit, All rights reserved.</small>
    <ul class="cluster">
        {% for link in props.config.footer.links %}
        <li>
            <a href="{{ link.url }}" class="link link-s link-navigation">
                {{ link.label }}
            </a>
        </li>
        {% endfor %}
    </ul>
</footer>