<div class="cover region cover-nav {{props.class}} theme-{{props.theme or 'background'}}">
    <div class="principle">
        <div class="sidebar reverse sidebar-split gap-m">
            <div class="frame">
                {% set src = './public/img/' + props.img.src%}
                {% img src, props.img.alt%}
            </div>
            <section class=" prose auto fixed">
                <p class="overline">{{props.content.overline}}</p>
                <h1 class="page-headline">
                    {{props.content.headline}}
                </h1>
                <p>{{props.content.body}}</p>
            </section>
        </div>
    </div>
</div>