:root {
  --color-primary-light: #745b00;
  --color-on-primary-light: #fff;
  --color-primary-container-light: #ffe08c;
  --color-on-primary-container-light: #241a00;
  --color-secondary-light: #785a00;
  --color-on-secondary-light: #fff;
  --color-secondary-container-light: #ffdf9d;
  --color-on-secondary-container-light: #251a00;
  --color-tertiary-light: #47664a;
  --color-on-tertiary-light: #fff;
  --color-tertiary-container-light: #c8ecc9;
  --color-on-tertiary-container-light: #03210b;
  --color-error-light: #ba1a1a;
  --color-error-container-light: #ffdad6;
  --color-on-error-light: #fff;
  --color-on-error-container-light: #410002;
  --color-background-light: #fffbff;
  --color-on-background-light: #231a00;
  --color-surface-light: #fffbff;
  --color-on-surface-light: #231a00;
  --color-surface-variant-light: #ebe1cf;
  --color-on-surface-variant-light: #4c4639;
  --color-outline-light: #7e7667;
  --color-inverse-on-surface-light: #fff0cb;
  --color-inverse-surface-light: #3c2f00;
  --color-inverse-primary-light: #edc237;
  --color-surface-tint-light: #745b00;
  --color-outline-variant-light: #cfc5b4;
  --color-primary-dark: #edc237;
  --color-on-primary-dark: #3d2f00;
  --color-primary-container-dark: #584400;
  --color-on-primary-container-dark: #ffe08c;
  --color-secondary-dark: #f2bf48;
  --color-on-secondary-dark: #3f2e00;
  --color-secondary-container-dark: #5b4300;
  --color-on-secondary-container-dark: #ffdf9d;
  --color-tertiary-dark: #adcfae;
  --color-on-tertiary-dark: #19361f;
  --color-tertiary-container-dark: #304d34;
  --color-on-tertiary-container-dark: #c8ecc9;
  --color-error-dark: #ffb4ab;
  --color-error-container-dark: #93000a;
  --color-on-error-dark: #690005;
  --color-on-error-container-dark: #ffdad6;
  --color-background-dark: #231a00;
  --color-on-background-dark: #ffe086;
  --color-surface-dark: #231a00;
  --color-on-surface-dark: #ffe086;
  --color-surface-variant-dark: #4c4639;
  --color-on-surface-variant-dark: #cfc5b4;
  --color-outline-dark: #989080;
  --color-inverse-on-surface-dark: #231a00;
  --color-inverse-surface-dark: #ffe086;
  --color-inverse-primary-dark: #745b00;
  --color-surface-tint-dark: #edc237;
  --color-outline-variant-dark: #4c4639;
  --font-family-headline: 'PT Serif', 'Georgia Pro', 'Georgia', 'serif';
  --font-family-body: 'system-ui', 'sans-serif';
  --font-size-xs: clamp(0.7rem, calc(0.81rem + -0.13vw), 0.78rem);
  --font-size-s: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
  --font-size-m: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --font-size-l: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
  --font-size-xl: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);
  --font-size-2xl: clamp(1.94rem, calc(1.59rem + 1.77vw), 2.96rem);
  --font-size-3xl: clamp(2.33rem, calc(1.77rem + 2.81vw), 3.95rem);
  --font-size-4xl: clamp(2.8rem, calc(1.94rem + 4.28vw), 5.26rem);
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);
  --space-4xl: clamp(13.5rem, calc(12.98rem + 2.61vw), 15rem);
  --space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);
  --space-3xl-4xl: clamp(6.75rem, calc(3.88rem + 14.35vw), 15rem);
}
