<div class="region stack gap-m theme-{{props.theme or 'background'}}">
    <section class="prose">{% if props.content.overline %}
        <p class="overline">{{props.content.overline}}</p>
        {% endif %}
        <h2 class="region-headline">{{props.content.headline}}</h2>
    </section>
    <div class="sidebar gap-m">
        <div class="grid grid-2 gap-xs fixed">
            {% for stat in props.content.stats %}
            <div class="prose stack gap-3xs">
                <h3 class="section-headline">{{stat.headline}}</h3>
                <p>{{stat.body}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="frame photo">{% img props.img.src, props.img.alt%}</div>
    </div>
</div>