{% if props.variant === 'masonry' %}
    <div class="region stack gap-l {{props.class}} theme-{{props.theme or 'background'}} {{props.classes}}">
        <h2 class="region-headline text-center center-intrinsic">{{props.headline}}</h2>
        {% if props.body %}
            <p>{{props.body}}</p>
        {% endif %}
        <div class="reel justify-center no-bar">
            {% if props.back %}
                <a href="/blog" class="badge badge-l badge-primary">All Posts</a>
            {% endif %}
            {% for category in config.categories %} 
                {% set categoryUrl %}/categories/{{ category.data.label | slugify }}/{% endset %}
                <a href="{{ categoryUrl | url }}" class="badge badge-l badge-{{category.data.theme}}">{{ category.data.label}}</a>
            {% endfor %}
        </div>
        <div class="masonry col-3 gap-m">
            {% for post in config.posts | reverse %} 
                {% set postCategory = config.categories | getCategory(post.data.tags) %}
                <article class="prose card card-link theme-{{postCategory.data.theme}}-container">
                    <a href="{{ post.url | url }}">
                        <div class="cluster align-center gap-2xs">
                            <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                            <div class="badge badge-primary">{{post.data.tags | tagsOnly}}</div>
                        </div>
                        <h2 class="section-headline">{{ post.data.title }}</h2>
                        <p>{{ post.data.description }}</p>
                    </a>
                </article>
            {% endfor %}
        </div>
    </div>
{% endif %}