{% from "../component.njk" import component %}
<div class="region theme-{{props.theme or 'background'}}">
    <section class="prose auto stack gap-xs text-center justify-center align-center grow-1">
        {% if props.overline %}
            <p class="overline">{{props.overline}}</p>
        {% endif %}
        {% if props.size === 'hero' %}
            <h1 class="hero-headline">
                {% if props.accent %}
                    <span class="color-primary">{{props.accent}}</span>
                {% endif %}
                {{props.headline}}
            </h1>
        {% elif props.size === 'page' %}
            <h1 class="page-headline">
                {{props.headline}}
            </h1>
        {% elif props.size === 'region' %}
            <h2 class="region-headline">
                {{props.headline}}
            </h2> 
        {% elif props.size === 'title' %}
            <h3 class="title-headline">
                {{props.headline}}
            </h3> 
        {% endif %}
        <p>{{props.body}}</p>
    </section>

    <div class="region reel gap-m {{props.class}} card-container">
        {% for item in props.items %}
            {{ component(item) }}
        {% endfor %}
    </div>
</div>