<header class="theme-{{props.theme or 'background'}}">
  <nav>
    <div class="desktop-navigation">
      <div class="cluster full justify-between" inset="xl">
        <div class="cluster justify-start" gap="xl">
          <a href="/" class="media">
            <svg focusable="false" focusable="false" class="logo" viewBox="0 0 100 245.68853462923755">
              <use href="/svg/icons.svg#logo" />
            </svg>
            <span class="sr-only">Logo</span>
          </a>
          <ul class="cluster">
            <li>
              <a href="/index" class="navigation" aria-current="page">Home</a>
            </li>
            <li><a href="/about" class="navigation">About</a></li>
            <li><a href="/resume" class="navigation">Resume</a></li>
            <li>
              <a href="/services" class="navigation">Services</a>
            </li>
            <li>
              <a href="/portfolio" class="navigation">Portfolio</a>
            </li>
          </ul>
        </div>
        <div class="cluster gap-s">
          <label for="color_mode_toggle">
            <input type="checkbox" id="color_mode_toggle" />
            <span class="sun">
              <svg focusable="false" class="icon">
                <use href="/svg/icons.svg#sun" />
              </svg>
              <span class="sr-only">Light Mode</span>
            </span>
            <span class="moon">
              <svg focusable="false" class="icon">
                <use href="/svg/icons.svg#moon" />
              </svg>
              <span class="sr-only">Dark Mode</span>
            </span>
          </label>
          <a href="/start-a-project.html" class="btn">Start a Project</a>
        </div>
      </div>
    </div>
    <div class="mobile-navigation">
      <div class="topbar">
        <a href="/" class="media">
          <svg focusable="false" focusable="false" class="logo color-lighter" viewBox="0 0 100 245.68853462923755">
            <use href="/svg/icons.svg#logo" />
          </svg>
          <span class="sr-only">Logo</span>
        </a>
        <div>
          <input type="checkbox" id="color_mode_toggle" />
          <label for="color_mode_toggle">
            <span class="sun">
              <svg focusable="false" class="icon color-lighter">
                <use href="/svg/icons.svg#sun" />
              </svg>
              <span class="sr-only">Light Mode</span>
            </span>
            <span class="moon">
              <svg focusable="false" class="icon color-lighter">
                <use href="/svg/icons.svg#moon" />
              </svg>
              <span class="sr-only">Dark Mode</span>
            </span>
          </label>
        </div>
      </div>
      <ul class="bottombar">
        <li>
          <a href="/index" aria-current="page" class="navigation">
            <svg focusable="false" class="icon color-lighter">
              <use href="/svg/icons.svg#home" />
            </svg>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="/about" class="navigation">
            <svg focusable="false" class="icon color-lighter">
              <use href="/svg/icons.svg#about" />
            </svg>
            <span>About</span></a>
        </li>
        <li>
          <a href="/services" class="navigation">
            <svg focusable="false" class="icon color-lighter">
              <use href="/svg/icons.svg#webpage" />
            </svg>
            <span>Services</span>
          </a>
        </li>
        <li>
          <a href="/portfolio" class="navigation">
            <svg focusable="false" class="icon color-lighter">
              <use href="/svg/icons.svg#portfolio" />
            </svg>
            <span>Portfolio</span></a>
        </li>
        <li>
          <a href="/contact" class="navigation">
            <svg focusable="false" class="icon color-lighter">
              <use href="/svg/icons.svg#contact" />
            </svg>
            <span>Contact</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>