<div class="sidebar inset region sidebar-split-s gap-xl align-start theme-{{props.theme or 'background'}} {{props.classes}}">
    <section class="prose fixed">
        <p class="overline">{{props.content.overline}}</p>
        <h2 class="region-headline">{{props.content.headline}}</h2>
    </section>
    <div class="stack gap-s">
        {% for question in props.content.faqs %}
        <div class="prose">
            <h3 class="title-headline">{{question.question}}</h3>
            <p>
                {{question.answer}}
            </p>
        </div>
        {% endfor %}
    </div>
</div>