<details class="{{props.class}} {% if props.theme %}theme-{{props.theme}}{% endif %}">
    <summary>
        <h3 class="title-headline">{{props.headline}}</h3>
    </summary>
    <p>{{props.body}}</p>
</details>