:root {
  --color-primary-light: #376a20;
  --color-on-primary-light: #fff;
  --color-primary-container-light: #b7f398;
  --color-on-primary-container-light: #062100;
  --color-secondary-light: #845400;
  --color-on-secondary-light: #fff;
  --color-secondary-container-light: #ffddb6;
  --color-on-secondary-container-light: #2a1800;
  --color-tertiary-light: #646100;
  --color-on-tertiary-light: #fff;
  --color-tertiary-container-light: #ede76d;
  --color-on-tertiary-container-light: #1e1c00;
  --color-error-light: #ba1a1a;
  --color-error-container-light: #ffdad6;
  --color-on-error-light: #fff;
  --color-on-error-container-light: #410002;
  --color-background-light: #fffbff;
  --color-on-background-light: #1f1c00;
  --color-surface-light: #fffbff;
  --color-on-surface-light: #1f1c00;
  --color-surface-variant-light: #dfe4d7;
  --color-on-surface-variant-light: #43483e;
  --color-outline-light: #73796d;
  --color-inverse-on-surface-light: #fff48e;
  --color-inverse-surface-light: #363100;
  --color-inverse-primary-light: #9cd67e;
  --color-surface-tint-light: #376a20;
  --color-outline-variant-light: #c3c8bb;
  --color-primary-dark: #9cd67e;
  --color-on-primary-dark: #0f3900;
  --color-primary-container-dark: #1f5107;
  --color-on-primary-container-dark: #b7f398;
  --color-secondary-dark: #ffb95b;
  --color-on-secondary-dark: #462a00;
  --color-secondary-container-dark: #643f00;
  --color-on-secondary-container-dark: #ffddb6;
  --color-tertiary-dark: #d0cb54;
  --color-on-tertiary-dark: #343200;
  --color-tertiary-container-dark: #4b4900;
  --color-on-tertiary-container-dark: #ede76d;
  --color-error-dark: #ffb4ab;
  --color-error-container-dark: #93000a;
  --color-on-error-dark: #690005;
  --color-on-error-container-dark: #ffdad6;
  --color-background-dark: #1f1c00;
  --color-on-background-dark: #f2e66a;
  --color-surface-dark: #1f1c00;
  --color-on-surface-dark: #f2e66a;
  --color-surface-variant-dark: #43483e;
  --color-on-surface-variant-dark: #c3c8bb;
  --color-outline-dark: #8d9287;
  --color-inverse-on-surface-dark: #1f1c00;
  --color-inverse-surface-dark: #f2e66a;
  --color-inverse-primary-dark: #376a20;
  --color-surface-tint-dark: #9cd67e;
  --color-outline-variant-dark: #43483e;
  --font-family-headline: 'ui-rounded', 'Hiragino Maru Gothic ProN', 'Quicksand', 'Comfortaa', 'Manjari',
    'Arial Rounded MT', 'Arial Rounded MT Bold', 'Calibri', 'source-sans-pro', 'sans-serif';
  --font-family-body: 'system-ui', 'sans-serif';
  --font-size-xs: clamp(0.7rem, calc(0.81rem + -0.13vw), 0.78rem);
  --font-size-s: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
  --font-size-m: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --font-size-l: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
  --font-size-xl: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);
  --font-size-2xl: clamp(1.94rem, calc(1.59rem + 1.77vw), 2.96rem);
  --font-size-3xl: clamp(2.33rem, calc(1.77rem + 2.81vw), 3.95rem);
  --font-size-4xl: clamp(2.8rem, calc(1.94rem + 4.28vw), 5.26rem);
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);
  --space-4xl: clamp(13.5rem, calc(12.98rem + 2.61vw), 15rem);
  --space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);
  --space-3xl-4xl: clamp(6.75rem, calc(3.88rem + 14.35vw), 15rem);
}
