<section class="region center-intrinsic gap-xs stack text-center theme-{{props.theme or 'background'}}">
    <h2 class="region-headline">{{props.content.headline}}</h2>
    <div class="grid grid-5 gap-l">
        {% for logo in props.content.logos %}
        <div class="frame photo">
            {% img logo.src, logo.alt %}
        </div>
        {% endfor %}
    </div>
</section>