<div class="region sidebar sidebar-split align-center theme-{{props.theme or 'background'}}">
    <section class="fixed prose">
        <h2 class="region-headline">
            {{props.content.headline}}
        </h2>
        <p>
            {{props.content.body}}
        </p>
        <a href="{{props.content.btn.href}}" class="btn {% if props.content.btn.variant %}{{props.content.btn.href}}{% endif %}">{{props.content.btn.label}}</a>
    </section>
    <div class="grid grid-2">
        {% for logo in props.content.logos %}
        <div class="frame photo">
            {% img logo.src, logo.alt %}
        </div>
        {% endfor %}
    </div>
</div>