<div class="cover region cover-nav {{props.class}} theme-{{props.theme or 'background'}}">
    <section class="principle prose stack align-end text-end">
        <p class="overline">{{props.content.overline}}</p>
        <h1 class="page-headline">
            {{props.content.headline}}
        </h1>
        <p>{{props.content.body}}</p>
    </section>
</div>