<div class="region stack align-center gap-xl text-center theme-{{props.theme or 'background'}} {{props.classes}}">
    <div>{% img props.content.logo.src, props.content.logo.alt %}</div>
    <figure class="stack gap-l">
        <blockquote>
            &OpenCurlyDoubleQuote;{{ props.content.quote }}&CloseCurlyDoubleQuote;
        </blockquote>
        <figcaption class="stack align-center gap-xs">
            <div class="frame avatar avatar-l">{% img props.content.avatar.src, props.content.avatar.alt, "avatar" %}</div>
            <p>{{ props.content.author }}</p>
        </figcaption>
    </figure>
</div>