{% from "../component.njk" import component %}

{% if props.mobile === 'end' %}
    <div class="region {% if props.stats %}inset-xl{% endif %} {% if props.stats %}inset-xl{% endif %}sidebar sidebar-split gap-m {{props.class}} {% if props.align %}align-{{props.align}}{% endif %}">
        {{ component(props.end, 'fixed') }}
        {{ component(props.start) }}
    </div>
{% else %}
    <div class="region {% if props.stats %}inset-xl{% endif %} sidebar sidebar-split gap-m {{props.class}} {% if props.align %}align-{{props.align}}{% endif %}">
        {{ component(props.start) }}
        {{ component(props.end, 'fixed') }}
    </div>
{% endif %}

{% if props.stats %}
    {{ component(props.stats, '', {align: 'center'}) }}
{% endif %}

