{% from "../component.njk" import component %}
{% if props.variant === 'masonry' %}
    <div class="region stack gap-l align-center {{props.class}} theme-{{props.theme or 'background'}}">
        <h2 class="region-headline">{{props.headline}}</h2>
        {% if props.body %}
            <p class="text-center">{{props.body}}</p>
        {% endif %}
        <div class="grid grid-2 gap-m">
            {% for item in config.portfolio %} 
                <div class="{{props.class}} prose">
                    <div class="frame">
                        {% set src = '../common/media/img/' + item.data.img %}
                        {% img src, props.img.alt, '', '100vw', props.img.loading %}
                    </div>
                    <h3 class="section-headline">
                        <a href="{{item.data.permalink}}" class="link-navigation">{{item.data.title}}</a>
                    </h3>
                    <p>{{item.data.summary}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}