<div class="region bg-pattern pattern-{{props.pattern}} theme-{{props.theme or 'primary'}} inset-xl {{props.classes}}">
    <section class="prose">
        {% if props.content.headline %}
        <h2 class="region-headline">{{props.content.headline}}</h2>
        {% endif %}
        {% if props.content.lead %}
        <p class="lead {% if props.center %}auto{% endif %}">{{props.content.lead}}</p>
        {% endif %}
        {% if props.content.body %}
        <p>{{props.content.body}}</p>
        {% endif %}
    </section>
</div>