<div class="stack region inset gap-xl theme-{{props.theme or 'background'}} {{props.classes}}">
    <section class="prose center center-intrinsic">
        <h2 class="region-headline">{{props.content.headline}}</h2>
    </section>
    <div class="switcher switch-phone">
        <a href="{{props.content.grid[0].link}}" class="card card-link prose theme-{{props.content.grid[0].theme}}">
            {% if props.content.grid[0].icon %}
            {% icon props.content.grid[0].icon, "block icon-l" %}
            {% endif %}
            <h3 class="title-headline">
                {{props.content.grid[0].headline}}
            </h3>
            <p>{{props.content.grid[0].body}}</p>
        </a>
        <a href="{{props.content.grid[1].link}}" class="card card-link prose theme-{{props.content.grid[1].theme}}">
            {% if props.content.grid[1].icon %}
            {% icon props.content.grid[1].icon, "block icon-l" %}
            {% endif %}
            <h3 class="title-headline">
                {{props.content.grid[1].headline}}
            </h3>
            <p>{{props.content.grid[1].body}}</p>
        </a>
        <a href="{{props.content.grid[2].link}}" class="card card-link prose theme-{{props.content.grid[2].theme}}">
            {% if props.content.grid[2].icon %}
            {% icon props.content.grid[2].icon, "block icon-l" %}
            {% endif %}
            <h3 class="title-headline">
                {{props.content.grid[2].headline}}
            </h3>
            <p>{{props.content.grid[2].body}}</p>
        </a>
    </div>
</div>