<div class="cover sidebar reverse sidebar-split gap-m theme-{{props.theme or 'background'}} {{props.classes}}">
    <div class="frame-cover">
        {% set src = './public/img/' + props.img.src%}
        {% img src, props.img.alt%}
    </div>
    <div class="stack fixed gap-xl">
        <div class="prose auto">
            <h1 class="hero-headline">{{props.content.headline}}</h1>
            <p>
                {{props.content.body}}
            </p>
        </div>
    </div>
</div>