<footer class="bg-img theme-{{props.theme or 'background'}} {{props.classes}}">
    <img src='/svg/footer-background.svg' alt="">
    <div class="full stack align-center region">
        <div class="cluster justify-between full gap-xl align-start">
            <div class="stack align-start gap-xs">
                <a href="/">
                    <span class="sr-only">Home</span>
                    {% svg './public/svg/logo' %}
                </a>
                <div class="prose prose-s">
                    <p>
                        {{props.config.footer.mission}}
                    </p>
                </div>
            </div>
            <div class="cluster gap-2xl align-start">
                {% for group in props.config.footer.groups %}
                <div class="stack stack-bg gap-2xs">
                    <h3 class="title-headline">{{group.title}}</h3>
                    <ul class="stack gap-xs">
                        {% for link in group.links %}
                        <li>
                            <a href="{{ link.url }}" class="link link-s link-navigation">
                                {{ link.label }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr />
        {% if props.carbon === true %}
        <div class="cluster full card theme-surface inset-s justify-center">
            <div id="wcb" class="carbonbadge wcb-d"></div>
            <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        </div>
        {% endif %}
        <div class="cluster full justify-between">
            <ul class="cluster gap-xs">
                {% for link in props.config.footer.social %}
                <li>
                    <a href="{{link.url}}" target="_blank" class="btn btn-circular">
                        <span class="sr-only">{{link.label}}</span>
                        {% icon link.icon %}
                        <tool-tip tip-position="block-start"> {{link.label}} </tool-tip>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <small class="copywrite">{{props.config.footer.copywrite}}</small>
        </div>
    </div>
</footer>