.blurb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.blurb > :is(h1, h2, h3, h4, h5, h6) + p {
  margin-top: var(--space-xs);
}

.blurb > svg + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: var(--space-s);
}

.blurb > p + a {
  margin-top: var(--space-2xs);
}
